<link href="~/Content/button.css" rel="stylesheet" />

    <div id="templatemo_banner">

        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="~/Content/images/black guy.jpg" alt="image 1" />
            </div>
        </div>

        <div id="templatemo_banner_content">
            <div class="header_01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <p>Aliquam dignissim elementum est sit amet iaculis. Integer pretium ultricies risus, condimentum molestie odio euismod vitae. </p>            
                <button class="btn btn-3">Hover me</button>      
            
        </div>

        <div class="cleaner"></div>
    </div>
</div>