<div id="templatemo_footer_wrapper">

    <div id="templatemo_footer">

        <div class="section_w180">
            <div class="header_05">Services</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">About</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MSIP">Learn about MSIP!</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Cool links</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>
                    <li><a href="#">Nullam quis</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Contact</div>

            <div class="section_w180_content">

                <ul class="footer_menu_list">
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Partners</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="https://fed.erau.edu/" target="_parent">ERAU Campus</a></li>
                    <li><a href="https://military.microsoft.com/" target="_parent">Microsoft Military Affairs</a></li>
                    <li><a href="https://eraumssa.onthehub.com/" target="_parent">On The HUB</a></li>
                    <li><a href="https://mssa-erau.learnondemand.net/" target="_parent">Learn On Demand</a></li>                    
                </ul>
            </div>
        </div>

        <div class="margin_bottom_20"></div>
        Copyright © 2048 <a href="#">MSIP</a> | <a href="http://www.microsoft.com" target="_parent">Microsoft Military website</a> by <a href="http://www.ERAU.com" target="_parent">Embry Riddle</a>
        <div class="cleaner"></div>
    </div> 
</div>