@using Microsoft.AspNetCore.Identity
@using MSIP_App.Areas.Identity.Data

@inject SignInManager<MSIPUser> SignInManager
@inject UserManager<MSIPUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
           
            <li class="dropdown nav-item">
                <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent; border:none">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:black">
                    <form  asp-controller="Urls" asp-action="Index" method="get">
                        <button class="nav-link btn btn-link text-white">Useful Links</button>
                    </form>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
                    </form>
                </div>
            </li>
        }
    </ul>
