@{
    ViewData["Title"] = "Home Page";
}

<body class="view" style="       
        background-image: url('content/images/homepagewallpaper.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;">
    
<div class="jumbotron text-center container float-left" style="width: 50%; background-color:transparent">
    <div style="color:white">
        <h1>MSSA Student Information Portal </h1>
        <p></p>
    </div>
</div>   
   
</body>
