@{
    ViewData["Title"] = "Learn about MSIP!";
}
<h1>
    <center><img src="~/Content/images/new_MSIP_Logo.png" alt="MSIP LOGO" class="text-center" /></center>
    <br> </br>
    <center>@ViewData["Title"]</center>
</h1>

<body>
    We are an amazing group of hardworking, intelligent, funny, etc. individuals!
    Being Group 1 we are the master race!
    We have created a new and reformed website that accesses all MSSA needs.
    As group a of marines and sailors we don't have the patience to constantly look for all links to resources
    that we need to complete the Microsoft Software and Systems Academy.
    We are a team of 5 that got sick of the constant confusion.
    This site is here to cure that confusion and regret of all 40 hours spent looking
    for all the necessary resources.
    WE ARE MSIP!
</body>

<br> </br>

